._badgeAndTag._badgeAndTag {
  align-self: flex-start;
  outline: initial;
  outline-offset: initial;
  border-radius: 999px;
  background-color: #f9fafb;
}
.root {
  width: min-content;
  height: min-content;
}
