.root {
  position: relative;
  width: 100px;
  height: 100px;
  align-items: flex-start;
}
.avatar04 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-image:/* webpackIgnore: true */ url('/assets/avatar04.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
