.avatar.avatar {
  z-index: 0;
  width: 14px;
  height: 14px;
  border-radius: 999px;
  overflow: hidden;
}
.avatar04.avatar04 {
  background-image:/* webpackIgnore: true */ url('/assets/avatar043.jpg');
}
.stars.stars {
  z-index: 0;
  width: 10px;
  height: 10px;
}
.icon {
  width: 100%;
  height: 100%;
}
.chevronRight.chevronRight {
  z-index: 0;
  width: 10px;
  height: 10px;
}
.vector.vector {
  bottom: 9.371%;
}
.vector {
  bottom: 9.371%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.xLg.xLg {
  width: 8px;
  height: 8px;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.root {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 1px;
  padding: 1px 3px;
  outline: solid 1px #e5e7eb;
  outline-offset: -1px;
  border-radius: 6px;
}
.placeholder {
  z-index: 0;
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 7px;
  padding: 0 2.5px;
}
.status {
  width: 5px;
  height: 5px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.placeholder2 {
  color: #6b7280;
  font-size: 10px;
  line-height: 16px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: 0.005em;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.closeIcon {
  z-index: 0;
  width: 14px;
  height: 14px;
  place-content: center;
  align-items: center;
  border-radius: 999px;
  background-color: #e5e7eb;
}
